Django==3.2
djangorestframework==3.12.4
pandas==1.5.3
requests==2.31.0
django-dbbackup==3.3.0
django-cors-headers==3.12.0
django-summernote==0.8.20.0
django-colorfield==0.7.2
django-tinymce==3.4.0
python-dateutil==2.8.2
persiantools==1.6.0
gunicorn==20.1.0
dj-database-url==1.0.0
python-dotenv==1.0.0
opencv-python==4.8.0.76
reportlab==3.6.12
arabic-reshaper==2.1.1
python-bidi==0.4.2
GuardPyCaptcha==1.0.1
decouple==3.8
